{% extends "base.html" %}
{% block title %}Add Water Soluble Fertilizers | {% endblock %}
{% block content %}

<div class="row">

    <div class="col-md-2 pt-4"><br><br><br>
        <div class="list-group border border-warning">
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Username: </strong> {{current_user.username}}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Email: </strong> {{current_user.email}}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Date Joined: </strong> {{current_user.date}}
            </a>
        </div>
    </div>

    <div class="col-md-8">
        <h1 class="pt-4" style="text-align: center;">Apply Water Soluble Fertilizers</h1>
        <div class="container">
            <br>
            <div class="left">
            <form class="form-group" method="POST">
                {{form2.hidden_tag()}}
                <br>
                <div class="form-group">
                    <h5>Date of Application</h5> {{form2.date_of_apply(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>19:19:19</h5> {{form2.bag_of_19X19X19(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>13:40:13</h5> {{form2.bag_of_13X40X13(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>13:00:45</h5> {{form2.bag_of_13X0X45(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>00:52:34</h5> {{form2.bag_of_0X52X34(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>12:61:00</h5> {{form2.bag_of_12X61X0(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>Calcium Nitrate</h5> {{form2.calcium_nitrate(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>Cost</h5> {{form2.cost(class="form-control")}}
                </div>
                <div class="form-group">
                    <h5>Notes</h5> {{form2.notes(class="form-control")}}
                </div>
                
                <div class="form-group">
                    {{ form2.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

{% endblock %}