{% extends "base.html" %}
{% block title %}{{crop.crop_name}} | {% endblock %}
{% block content %}

<div class="row">
    {% if current_user.is_authenticated %}
    <div class="col-md-2 pt-4"><br><br><br>
        <div class="list-group border border-warning">
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Username: </strong> {{user.username}}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Email: </strong> {{user.email}}
            </a>
            <a class="list-group-item list-group-item-action customstyle">
                <strong>Date Joined: </strong> {{user.date}}
            </a>
        </div>
    </div>
    {% endif %}

    <div class="col-md-8">
        <h1 class="pt-4" style="text-align: center;">{{crop.crop_name}}</h1>
        <div class="table-responsive pt-4">
            <h2>Fertilizers</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date of Apply</th>
                        <th scope="col">Urea</th>
                        <th scope="col">D.A.P</th>
                        <th scope="col">Ammonium Sulphate</th>
                        <th scope="col">12:32:16</th>
                        <th scope="col">10:26:26</th>
                        <th scope="col">M.O.P</th>
                        <th scope="col">Micro Nutrients</th>
                        <th scope="col">Sulphur</th>
                        <th scope="col">19:19:19</th>
                        <th scope="col">20:20:0:13</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for fert in fertilizer %}
                    <tr>
                        <th scope="row">{{fert.date_of_apply}}</th>
                        <td>{{fert.urea}}</td>
                        <td>{{fert.dap}}</td>
                        <td>{{fert.ammonium_sulphate}}</td>
                        <td>{{fert.bag_of_12X32X16}}</td>
                        <td>{{fert.bag_of_10X26X26}}</td>
                        <td>{{fert.mop}}</td>
                        <td>{{fert.micronutrients}}</td>
                        <td>{{fert.sulphur}}</td>
                        <td>{{fert.bag_of_19X19X19}}</td>
                        <td>{{fert.bag_of_20X20X0X13}}</td>
                        <td>{{fert.cost}}</td>
                        <td>{{fert.notes}}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
            <h2>Water Soluble Fertilizers</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date of Apply</th>
                        <th scope="col">19:19:19 </th>
                        <th scope="col">13:40:13</th>
                        <th scope="col">13:0:45</th>
                        <th scope="col">0:52:34</th>
                        <th scope="col">12:61:0</th>
                        <th scope="col">Calcium Nitrate</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Notes</th>

                    </tr>
                </thead>
                
                <tbody>
                    {% for water_fert in water_soluble_fertilizer %}
                    <tr>
                        <th scope="row">{{water_fert.date_of_apply}}</th>
                        <td>{{water_fert.bag_of_19X19X19}}</td>
                        <td>{{water_fert.bag_of_13X40X13}}</td>
                        <td>{{water_fert.bag_of_13X0X45}}</td>
                        <td>{{water_fert.bag_of_0X52X34}}</td>
                        <td>{{water_fert.bag_of_12X61X0}}</td>
                        <td>{{water_fert.calcium_nitrate}}</td>
                        <td>{{water_fert.cost}}</td>
                        <td>{{water_fert.notes}}</td>
                    </tr> 
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('user.add_fert',crop_id=crop.id)}}"><button type="button">Add Fertilizers</button></a>
        <a href="{{url_for('user.add_water_fert',crop_id=crop.id)}}"><button type="button">Add Water Soluble Fertilizers</button></a>
        {% endif %}
    </div>

</div>

{% endblock %}