<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sumedh Kadam</title>
    <link rel="icon" href="https://img.icons8.com/ios/100/000000/circled-s.png">
    <link type="text/css" rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
  <div>
      <div class="jumbotron">
        <h1 class="display-4" style="color: tomato;font-family: 'Source Code Pro', monospace; font-weight: bold;">I'm Sumedh Kadam</h1>
        <h4>Full Stack Web Developer</h4>
        <hr class="my-4">
        <h3 style="font-weight: bold; ">Career Objectives</h3>
          <h5>My career objective is to use my programming skills of various languages to efficiently help company.</h5>
      </div>
      <div style="background-image: url(../static/html-color.jpg);">
        <div class="container">
          <br>
          <h2 style="color:yellow;">Language I know </h2>
        <br>
        <br>
        <div class="row">
          <div>
            <img src="../static/logos/python.png" class="mr-3" alt="">
              <h5 class="mt-0" style="color: aliceblue;">Python</h5>
          </div>
          <br>
          <div>
            <img src="../static/logos/html5.png" class="mr-3" alt="">
              <h5 class="mt-0" style="color: aliceblue;">HTML 5</h5>
          </div>
          <br>
          <div>
            <img src="../static/logos/css3.png" class="mr-3" alt="">
              <h5 class="mt-0" style="color: aliceblue;">CSS 3</h5>
          </div>
        </div>
        </div>
        
        <br>
      </div>
      <div style="background-image: url(../static/white.jpg)">
      <div class="container">
        <br>
        <h2>My work</h2>
        <p></p>
        <div>
          <a href="https://github.com/SumedhKadam1997"><img src="https://img.icons8.com/fluent/144/000000/github.png"></a>
          <h5 class="mt-0">All my coding practice and programs are uploaded here on Github</h5>
          <br>
        </div>

      </div>
    </div>
      <br>
      <br>
      <div class="container">
        <h2>My Educational Background</h2>
        <br>  
        <h6>I completed my engineering Degree in Mechanical Engineering.</h6> 
        <h6>But after working in Mechanical Industry for 1 year, I realised programming is something which I love
        <h6>So I started programming in Python</h6>
        <br>
        <a href="../static/resume_1562843706069.pdf"><button type="button" class="btn btn-primary">RESUME</button></a>
      </div>
      <br>
      <br>

      <div class="container">
        <h2>Text Editors I use</h2>
        <br>
        <br>
        <div class="media">
          <a href="../static/logos/vscode.png"><img src="https://img.icons8.com/color/48/000000/visual-studio-code-2019.png" class="mr-3"></a>
          <div class="media-body">
            <h5 class="mt-0">VS Code</h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus optio incidunt expedita facere illum dolores fuga, quos suscipit quis soluta saepe mollitia pariatur doloremque iusto, eum aliquid est obcaecati.
          </div>
        </div>
        <br>
        <hr>
        <div class="media">
          <a href="../static/logos/sublimetext.png"><img src="https://img.icons8.com/color/48/000000/sublime-text.png" class="mr-3"></a>
          <div class="media-body">
            <h5 class="mt-0">Sublime Text Editor</h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis voluptatibus optio incidunt expedita facere illum dolores fuga, quos suscipit quis soluta saepe mollitia pariatur doloremque iusto, eum aliquid est obcaecati.
          </div>
        </div>
        <br>
      </div>
      <div class="container">
        <br>
        <h3>Connect with me</h3>
        <br>
        <div class="row">
          <div>
            <a href="https://www.instagram.com/uxoriousghost/"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"class="mr-3" alt=""></a>
          </div>
          <br>
          <div>
            <a href="https://www.facebook.com/sumedh.kadam.547/"><img src="https://img.icons8.com/fluent/48/000000/facebook-new.png"class="mr-3" alt=""></a>
          </div>
          <br>
          <div>
            <a href="https://www.linkedin.com/in/sumedh-kadam-425813a2/"><img src="https://img.icons8.com/color/48/000000/linkedin.png" class="mr-3" alt=""></a>
          </div>
          <br>
          <div>
            <a href="https://twitter.com/UxoriousGhost"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"class="mr-3" alt=""></a>
          </div>
          <br>
          <br>
          <br>
          <hr>
      </div>
    </div>
</body>
</html>